<!-- your html code here -->
<div class="container-fluid bg-body">

    <div class="container p-0">
        <h1>Portfolio</h1>

    <p>
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.
    </p>

    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img class="card-img-top" src="/website/assets/img/big-project-image.png" alt="">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consequatur,
                        dolore dicta harum optio laboriosam...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img class="card-img-top" src="/website/assets/img/big-project-image.png" alt="">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consequatur,
                        dolore dicta harum optio laboriosam...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img class="card-img-top" src="/website/assets/img/big-project-image.png" alt="">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consequatur,
                        dolore dicta harum optio laboriosam...</p>
                </div>
            </div>
        </div>
    </div>

    
    </div>